<input type="text" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
<script>
    (function () {
        const $ = django.jQuery

		$(document).ready(function() {
			$('input[name="{{ widget.name }}"]').parent().hide()

			$('input[name="{{ widget.name }}"]').parent().css('padding-left', '2em')
			$('input[name="{{ widget.name }}"]').css('margin-left', '10px')
			$('input[name="{{ widget.name }}"]').css('margin-right', '20px')
			$('input[name="{{ widget.name }}"]').css('padding', '2px 5px')

			$('select[name="action"]').on('change', function() {
				if (['add_label', 'clear_label'].includes(this.value)) {
					$('input[name="{{ widget.name }}"]').parent().show()
				} else {
					$('input[name="{{ widget.name }}"]').parent().hide()
				}
			});
		})
    }());
</script>